<div class="h-screen w-full">
  <!-- <div id="rubik-cube" class="h-full w-full bg-white"></div> -->
</div>

<script src="../../scripts/rubik.js"></script>

<style>
    #rubik-cube canvas {
        background: transparent !important;
    }
</style>
