<section class="w-full pt-40" id="projects">
  <div class="container mt-12 justify-center mx-auto h-full text-white">
    <div>
      <h1 class="font-header text-9xl text-center">LATEST-PROJECT</h1>
    </div>
    <div class="w-full flex"></div>
    <div class="grid grid-cols-12 gap-2 w-full mt-24">
      <div
        class="text-4xl col-span-8 h-96 bg-[#c98a8c]/60 flex items-center justify-center"
      >
        <span>coming soon</span>
      </div>
      <div
        class="text-4xl col-span-4 h-96 bg-[#dfcb8f]/60 flex items-center justify-center"
      >
        <span>coming soon</span>
      </div>
      <div
        class="text-4xl col-span-6 h-96 bg-[#c8d0d2]/60 flex items-center justify-center"
      >
        <span>coming soon</span>
      </div>
      <div
        class="text-4xl col-span-6 h-96 bg-[#f9d2bd]/60 flex items-center justify-center"
      >
        <span>coming soon</span>
      </div>
    </div>
    <div class="w-full relative mt-40 text-white">
      <p class="text-8xl font-script z-10">
        The beauty of code lies not in flashy syntax or elaborate architecture,
        but in the eyes of a passionate developer – the one who sees elegance
        hidden within the logic.
      </p>
      <div class="absolute w-[600px] h-[500px] top-[-100px] right-[-420px] -z-10">
        <img class="w-full h-auto" src="/drawp.png" alt="" />
      </div>
    </div>
  </div>
</section>
