---

---

<nav class="fixed top-0 left-0 w-full bg-white/20 border-b text-white z-[1000]">
  <div class="container mx-auto flex items-center justify-center h-16">
    <!-- Logo -->
    <!-- <div class="font-bold tracking-tight text-2xl  text-white">@jarviisha</div> -->

    <!-- Navigation links -->
    <ul class="flex gap-6 z-[1000]">
      <li>
        <a href="#introduction" class="hover:underline transition"
          >INTRODUCTION</a
        >
      </li>
      <li>
        <a href="#skill" class="hover:underline transition">SKILLS</a>
      </li>
      <li>
        <a href="#projects" class="hover:underline transition">PROJECTS</a>
      </li>
      <li>
        <a href="#contact" class="hover:underline transition">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
