<section id="skill" class="w-full">
  <div
    class="container pb-40 text- flex justify-center mx-auto h-full text-white"
  >
    <h1 class="text-[420px] font-header">COMING SOON</h1>
  </div>
</section>
